.message {
  display: flex;
  align-items: center;
  margin: 15px;
}

.message > img {
  height: 50px;
  width: 50px;
  /* border-radius: 999px; */
  margin-right: 10px;
}

.message_info > h4 {
  margin: 5px 0;
}

.message_info > p {
  color: rgb(59, 59, 59);
}
